/C
/C++
/Java
/Kotlin
/Perl
/PHP
/resource
/Ruby
/Swift

/C#/ASP.NET_Core/.vs
/C#/ASP.NET_Core/bin
/C#/ASP.NET_Core/obj

/Javascript/Express4/.vs
/Javascript/Express4/bin
/Javascript/Express4/node_modules
/Javascript/Express4/obj